/mdomladov_aplikacija_2/mdomladov_aplikacija_2_1/build/
/mdomladov_aplikacija_2/build/
/mdomladov_aplikacija_2/dist/
/mdomladov_aplikacija_1/build/
/mdomladov_aplikacija_1/dist/
/mdomladov_aplikacija_2/mdomladov_aplikacija_2_2/build/
/mdomladov_aplikacija_2/mdomladov_aplikacija_2_1/dist/
/mdomladov_aplikacija_2/mdomladov_aplikacija_2_2/dist/
/mdomladov_aplikacija_3/build/
/mdomladov_aplikacija_3/dist/
/mdomladov_aplikacija_3/mdomladov_aplikacija_3_2/build/
/mdomladov_aplikacija_3/mdomladov_aplikacija_3_2/dist/
/mdomladov_aplikacija_3/mdomladov_aplikacija_3_1/dist/